<nav class="navbar" id="main-nav">
  <a class="navbar-brand" href="">Bookshelf</a>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <!-- <li class="nav-item" id="activity"> -->
      <li class="nav-item activity" id="act_text">
          <a class="nav-link">Activity</a>
      </li>

      <li class="nav-item activity" id="act_toggle">
        <input type="checkbox" checked data-toggle="toggle" data-on="public" data-off="private" data-offstyle="danger" data-onstyle="success">
      </li>

    <!-- </li> -->
  </ul>
  <ul class="nav nav-pills justify-content-center auth">
    <li class="nav-item">
      <a class="nav-link logged_out" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link logged_out" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link logged_in" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

<link href="/assets/nav.css" rel="stylesheet" type="text/css" />
