<!DOCTYPE html>

<html>
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="/assets/signup.css" rel="stylesheet" type="text/css" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
      <% include partials/nav.ejs %>
      <div id="usernames"><%= usernames %></div>
      <div class="Container">
        <div><span>SIGN UP</span></div>
        <form method="POST">
          <% if(error){ %>
            <span id="err">The username or email id already exists!</span>
          <% } %>
          <span>Username</span>
          <input type="text" placeholder="Enter username" name="username" required />
          <span>Email Id</span>
          <input type="email" placeholder="Enter email" name="email" required />
          <span>Password</span>
          <input type="password" placeholder="Enter password" name="password" required />
          <span>Confirm Password</span>
          <input type="password" placeholder="Enter password again" name="conf_password" required />
          <div class="g-recaptcha" data-sitekey="6Lc_1WEUAAAAANjO16rRz-NYM7ngIb-2uOvz88x7"></div>
          <button type="submit">Sign Up</button>
        </form>
      </div>
      <script src="signup.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
